@import "tailwindcss";

*{
  font-family: "Bricolage Grotesque", sans-serif;

}

body{
  overflow-x: hidden;
}


header{
  background-image: url('https://blog.pressreader.com/hubfs/modern-library.png');
  height: 660px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main{
  height: 660px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.445);
}

#modal{
  background: rgba(0, 0, 0, 0.733);
}

#loginpage{
  background-image: url('https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5924.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cardlogin{

  background: rgba(69, 61, 58, 0.668);

}


#cardView{

  background-color: rgba(0, 0, 0, 0.349);
}